<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
  <style type="text/css">
    body {
      margin: 0;
    }
  </style>
</head>

<body>

  <script>

    var config = {
      type: Phaser.AUTO,
      width: 800,
      height: 600,
      zoom: 2,
      pixelArt: true,
      Physics: {
        default: 'arcade',
        arcade: {
          gravity: { y: 0 },
          debug: true
        }
      },
      scene: {
        preload: preload,
        create: create,
        update: update
      }
    };

    var game = new Phaser.Game(config);

    function preload() {
      this.load.spritesheet('mars', '/images/mars.png', { frameWidth: 16, frameHeight: 16 });
      this.load.tilemapTiledJSON("map", "../maps/base.json");
    }

    function create() {
      const map = this.make.tilemap({ key: "map" });
      const tileset = map.addTilesetImage('mars', 'mars');

      const belowLayer = map.createStaticLayer("fixground", tileset, 0, 0);
      const wallsLayer = map.createStaticLayer("walls", tileset, 0, 0);
      const aboveLayer = map.createStaticLayer("details", tileset, 0, 0);
      
      wallsLayer.setCollisionBetween(0, 100);

      const camera = this.cameras.main;

      // Set up the arrows to control the camera
      const cursors = this.input.keyboard.createCursorKeys();
      controls = new Phaser.Cameras.Controls.FixedKeyControl({
        camera: camera,
        left: cursors.left,
        right: cursors.right,
        up: cursors.up,
        down: cursors.down,
        speed: 0.5
      });

      // Constrain the camera so that it isn't allowed to move outside the width/height of tilemap
      camera.setBounds(0, 0, map.widthInPixels, map.heightInPixels);
    }

    function update(time, delta) {
      controls.update(delta);
    }

  </script>

</body>

</html>