<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <style>
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Select a nickname and join the game!</p>
    <label>
        Nickname:
        <input id="name" type="text" oninput="assembleLink()"/>
    </label>
    <a href="#" id="link" class="hidden">Join game.</a>
    <script>
        let assembleLink = () => {
            let name = document.getElementById('name').value;
            let eLink = document.getElementById('link');
            eLink.className = name.length === 0 ? 'hidden' : '';
            eLink.href = '/controller/' + name;
        }
    </script>
  </body>
</html>
